@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CursiveFont;
  src: url("/assets/fonts/cursive.ttf");
}

@font-face {
  font-family: WorkSansFont;
  src: url("/assets/fonts/Cursive.ttf");
}

.cursive-font {
  font-family: CursiveFont;
}

* {
  margin: 0;
  padding: 0;

}